<section class="container">
  <!-- Botón Atrás -->
  <button
    type="button"
    class="btn btn-secondary float-right mb-3"
    [routerLink]="['/settings/list-age-group']"
  >
    Atrás
  </button>

  <!-- Título de la página -->
  <h1 class="h3 mb-2 color-primario">Crear nueva categoria de edad</h1>
  <h5 class="mt-4 color-primario">Datos de la categoria de edad</h5>
  <div class="borde-d w-100 mt-1"></div>

  <div class="mt-4">
    <div class="row">
      <!-- Nombre de la categoría -->
      <div class="col-md-6">
        <label class="titulo-campo">Nombre de la categoria</label>
        <input
          [(ngModel)]="nombre"
          class="form-control campo"
          name="nombre"
          type="text"
          id="ageGroupId"
          placeholder="Ingrese el nombre de la categoria"
          (input)="checkCamposObligatorios()"
        />
      </div>
      <!-- Rango de edades -->
      <div class="col-md-3">
        <label class="titulo-campo">Rango de edad (Desde)</label>
        <input
          [(ngModel)]="rangoDesde"
          class="form-control campo"
          name="rangoDesde"
          type="number"
          id="ageFromId"
          placeholder="Ingrese el inicio del rango de edades"
          (input)="checkCamposObligatorios()"
        />
      </div>
      <div class="col-md-3">
        <label class="titulo-campo">Rango de edad (Hasta)</label>
        <input
          [(ngModel)]="rangoHasta"
          class="form-control campo"
          name="rangoHasta"
          type="number"
          id="ageToId"
          placeholder="Ingrese el final del rango de edades"
          [min]="rangoDesde !== null ? rangoDesde + 1 : null"
          (input)="checkCamposObligatorios()"
        />
      </div>
    </div>

    <br />
    <div class="row">
      <!-- Descripción de la categoría -->
      <div class="col-md-9">
        <label class="titulo-campo">Descripción de la categoria</label>
        <textarea
          [(ngModel)]="descripcion"
          class="form-control campo"
          name="descripcion"
          id="ageGroupId"
          placeholder="Ingrese la descripcion de la categoria"
        ></textarea>
      </div>
      <!-- Campo de estado (Activo/Inactivo) -->
      <div class="col-md-3">
        <label class="titulo-campo">Estado</label>
        <select class="form-control" [(ngModel)]="estado" name="estado">
          <option value="true" selected>Activo</option>
          <option value="false">Inactivo</option>
        </select>
      </div>
    </div>

    <br />
    <div class="row">
      <!-- Botón GUARDAR -->
      <div class="borde-d w-100 mt-5">
        <button
          type="button"
          style="max-width: 10%; margin-left: 10px;"
          class="btn boton-primario btn-lg mt-3 mb-3 float-right"
          (click)="enviarDatos()"
          [disabled]="!camposObligatoriosCompletos"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</section>
