<section id="cantidades" class="mb-2">
  <div>
    <h3><b>CANTIDADES</b></h3>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="row">
        <h4 class="col-12">Cantidad Total estimada de invitados</h4>
        <div class="form-group col-6">
          <label for="totalInvitados">Min</label>
          <input
            type="number"
            class="form-control"
            id="totalInvitados"
            name="totalInvitados"
          />
        </div>
        <div class="form-group col-6">
          <label for="totalInvitados">Max</label>
          <input
            type="number"
            class="form-control"
            id="totalInvitados"
            name="totalInvitados"
          />
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <h4 class="col-12">¿Cantidad de personas con movilidad reducida?</h4>
        <div class="form-group col-6">
          <label for="totalInvitados">Min</label>
          <input
            type="number"
            class="form-control"
            id="totalInvitados"
            name="totalInvitados"
          />
        </div>
        <div class="form-group col-6">
          <label for="totalInvitados">Max</label>
          <input
            type="number"
            class="form-control"
            id="totalInvitados"
            name="totalInvitados"
          />
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <h4 class="col-12">¿Cantidad estimada de niños (si los hay)?</h4>
        <div class="form-group col-6">
          <label for="totalInvitados">Min</label>
          <input
            type="number"
            class="form-control"
            id="totalInvitados"
            name="totalInvitados"
          />
        </div>
        <div class="form-group col-6">
          <label for="totalInvitados">Max</label>
          <input
            type="number"
            class="form-control"
            id="totalInvitados"
            name="totalInvitados"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section id="extranjeros" class="mb-2">
  <div>
    <h3><b>Niños</b></h3>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group col-12">
        <label for="totalInvitados"
          >¿Desean incluir niños como invitados al evento?</label
        >
        <select class="form-control" id="totalInvitados" name="totalInvitados">
          <option>1</option>
          <option>2</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group col-12">
        <label for="totalInvitados"
          >¿Desean un espacio especial o servicio de niñera para los más
          pequeños?</label
        >
        <select class="form-control" id="totalInvitados" name="totalInvitados">
          <option>1</option>
          <option>2</option>
        </select>
      </div>
    </div>
  </div>
</section>
<section id="mascotas" class="mb-2">
  <div>
    <h3><b>Mascotas</b></h3>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group col-12">
        <label for="totalInvitados" class="mb-4"
          >¿Tendran invitados extranjeros?</label
        >
        <select class="form-control" id="totalInvitados" name="totalInvitados">
          <option>1</option>
          <option>2</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group col-12">
        <label for="totalInvitados"
          >¿Desean personalizar los recuerdos para los invitados
          extranjeros?</label
        >
        <select class="form-control" id="totalInvitados" name="totalInvitados">
          <option>1</option>
          <option>2</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group col-12">
        <label for="totalInvitados"
          >¿De que procedencia son los invitados extranjeros?</label
        >
        <textarea
          class="form-control"
          id="totalInvitados"
          name="totalInvitados"
        >
        </textarea>
      </div>
    </div>
  </div>
</section>
<section id="gastronomia" class="mb-2">
  <div>
    <h3><b>Gastronomia diferenciada</b></h3>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group col-12">
        <label for="totalInvitados"
          >¿Desean contemplar opciones gastronómicas especiales para algunos
          invitados?</label
        >
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Sí, tendremos invitados vegetarianos
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            
          />
          <label class="form-check-label" for="flexCheckChecked">
            Sí, tendremos invitados veganos
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            
          />
          <label class="form-check-label" for="flexCheckChecked">
            Sí, hay personas con celiaquía
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            
          />
          <label class="form-check-label" for="flexCheckChecked">
            Sí, hay personas con alergias alimentarias (maní, mariscos, lactosa, etc.).
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            
          />
          <label class="form-check-label" for="flexCheckChecked">
            Sí, queremos un menú infantil
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            
          />
          <label class="form-check-label" for="flexCheckChecked">
            Sí, pero aún estamos recopilando esa información
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            
          />
          <label class="form-check-label" for="flexCheckChecked">
            No, el menú será estándar para todos
          </label>
        </div>
      </div>
    </div>
    <div class="col-6">
        <label for="totalInvitados"
        >Comentarios</label
      >
      <div class="">
        <textarea
          class="form-control"></textarea>
         
      </div>
    </div>
  </div>
</section>
