<mat-horizontal-stepper [linear]="true" #stepper>
  <!-- Paso 1: Datos Básicos -->
  <mat-step [stepControl]="datosBasicosControl">
    <form [formGroup]="datosBasicosControl">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Datos Básicos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select formControlName="tipoDocumento" required [disabled]="enableRegisterClient">
              <mat-option *ngFor="let docT of documentTypes" [value]="docT.id">{{docT.name}}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="datosBasicosControl.get('tipoDocumento')?.hasError('required')"
            >
              El tipo de documento es obligatorio
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Número de Documento</mat-label>
            <input matInput formControlName="numeroDocumento" required [disabled]="enableRegisterClient" readonly="{{enableRegisterClient}}"/>
            <mat-error
              *ngIf="datosBasicosControl.get('numeroDocumento')?.hasError('required')"
            >
              El número de documento es obligatorio
            </mat-error>
          </mat-form-field>
          <mat-card-actions>
            <button
              type="button"
              mat-raised-button
              (click)="verificarDocumento()"
              color="primary"
              [disabled]="enableRegisterClient"
            >
              Verificar Documento
            </button>
          </mat-card-actions>
          <div *ngIf="enableRegisterClient">
            <mat-form-field appearance="outline">
              <mat-label>Nombres</mat-label>
              <input matInput formControlName="nombres" required />
              <mat-error
                *ngIf="datosBasicosControl.get('nombres')?.hasError('required')"
              >
                El nombre es obligatorio
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Apellidos</mat-label>
              <input matInput formControlName="apellidos" required />
              <mat-error
                *ngIf="datosBasicosControl.get('apellidos')?.hasError('required')"
              >
                El apellido es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="datosBasicosControl.invalid"
            
          >
            Siguiente
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-step>

  <!-- Paso 2: Datos Personales -->
  <mat-step [stepControl]="datosPersonalesControl">
    <form [formGroup]="datosPersonalesControl">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Datos Personales</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- Género-->
          <mat-form-field appearance="outline">
            <mat-label>Género</mat-label>
            <mat-select formControlName="genero" required>
              <mat-option *ngFor="let gen of genders" [value]="gen.id">{{gen.name}}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="datosPersonalesControl.get('genero')?.hasError('required')"
            >
              El género es obligatorio
            </mat-error>
          </mat-form-field>

          <!-- <mat-form-field *ngIf="showEspecificarOtro" appearance="outline">
            <mat-label>Especificar Otro</mat-label>
            <input matInput formControlName="especificarOtro" />
          </mat-form-field> -->

          <!-- Fecha de Nacimiento -->
          <mat-form-field appearance="outline">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input
              matInput
              formControlName="fechaNacimiento"
              placeholder="DD/MM/AAAA"
              (input)="formatDateInput($event)"
            />
            <mat-error
              *ngIf="datosPersonalesControl.get('fechaNacimiento')?.hasError('required')"
            >
              La fecha de nacimiento es obligatoria
            </mat-error>
            <mat-error
              *ngIf="datosPersonalesControl.get('fechaNacimiento')?.hasError('formatoInvalido')"
            >
              El formato de la fecha debe ser DD/MM/AAAA
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Edad</mat-label>
            <input matInput formControlName="edad" />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button matStepperPrevious color="primary">
            Atrás
          </button>
          <button
            mat-raised-button
            matStepperNext
            color="primary"
            [disabled]="datosPersonalesControl.invalid"
          >
            Siguiente
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-step>

  <!-- Paso 3: Ubicaciones -->
  <mat-step [stepControl]="ubicaciones">
    <form [formGroup]="clienteForm">
      <div formArrayName="ubicaciones">
        <div
          *ngFor="let ubicacion of ubicaciones.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-card>
            <mat-card-header>
              <mat-card-title>Datos de Ubicación {{ i + 1 }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="grid-container">
                <!-- Fila 1: Nombre de Ubicación, Es la ubicación principal -->
                <div class="grid-item">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Nombre de Ubicación</mat-label>
                    <input
                      matInput
                      formControlName="nombreUbicacion"
                      required
                    />
                    <mat-error
                      *ngIf="ubicacion.get('nombreUbicacion')?.hasError('required')"
                    >
                      El nombre de la ubicación es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="grid-item">
                  <!-- Checkbox para Ubicación Principal -->
                  <mat-checkbox
                    formControlName="ubicacionPrincipal"
                    (change)="onPrincipalChangeUbication(i)"
                    class="full-width"
                  >
                    Es la ubicación principal
                  </mat-checkbox>
                </div>

                <!-- Fila 1: Columna 3 VACÍA -->
                <div class="grid-item"></div>

                <!-- Fila 2: Calle principal, Calle secundaria, Número de casa/piso -->
                <div class="grid-item">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Calle Principal</mat-label>
                    <input matInput formControlName="callePrincipal" required />
                    <mat-error
                      *ngIf="ubicacion.get('callePrincipal')?.hasError('required')"
                    >
                      La calle principal es obligatoria
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="grid-item">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Calle Secundaria</mat-label>
                    <input
                      matInput
                      formControlName="calleSecundaria"
                      required
                    />
                    <mat-error
                      *ngIf="ubicacion.get('calleSecundaria')?.hasError('required')"
                    >
                      La calle secundaria es obligatoria
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="grid-item">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Número de Casa/Piso</mat-label>
                    <input matInput formControlName="numeroCasa" required />
                    <mat-error
                      *ngIf="ubicacion.get('numeroCasa')?.hasError('required')"
                    >
                      El número de casa/piso es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- Fila 3: Departamento, Ciudad y Barrio -->
                <div class="grid-item">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Departamento</mat-label>
                    <mat-select
                      formControlName="departamento"
                      required
                      (selectionChange)="onDepartamentoChange($event.value)"
                    >
                      <mat-option
                        *ngFor="let dept of locations"
                        [value]="dept.id"
                        >{{ dept.name }}</mat-option
                      >
                    </mat-select>
                    <mat-error
                      *ngIf="ubicacion.get('departamento')?.hasError('required')"
                    >
                      El departamento es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="grid-item">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Ciudad</mat-label>
                    <mat-select formControlName="ciudad" required>
                      <mat-option
                        *ngFor="let city of cities"
                        [value]="city.id"
                        >{{ city.name }}</mat-option
                      >
                    </mat-select>
                    <mat-error
                      *ngIf="ubicacion.get('ciudad')?.hasError('required')"
                    >
                      La ciudad es obligatoria
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="grid-item">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Barrio</mat-label>
                    <input matInput formControlName="barrio" />
                  </mat-form-field>
                </div>

                <!-- Fila 4: Ubicación Maps (Ocupa la columna completa) -->
                <div class="grid-item full-width">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Ubicación en Maps</mat-label>
                    <input
                      matInput
                      formControlName="ubicacionMaps"
                      placeholder="Seleccionar en el mapa"
                    />
                  </mat-form-field>
                </div>

                <!-- Fila 5: Observación (Ocupa la columna completa) -->
                <div class="grid-item full-width">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Observación</mat-label>
                    <textarea matInput formControlName="observacion"></textarea>
                  </mat-form-field>
                </div>

                <!-- Fila 6: Estado de la ubicación (Opcional) -->
                <div class="grid-item full-width">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Estado de Ubicación</mat-label>
                    <mat-select formControlName="estadoUbicacion" required>
                      <mat-option value="Activo">Activo</mat-option>
                      <mat-option value="Inactivo">Inactivo</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="ubicacion.get('estadoUbicacion')?.hasError('required')"
                    >
                      El estado de la ubicación es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button matStepperPrevious color="primary">
                Atrás
              </button>
              <button
                mat-raised-button
                matStepperNext
                color="primary"
                [disabled]="ubicacion.invalid"
              >
                Siguiente
              </button>
              <button
                mat-raised-button
                color="warn"
                (click)="removerUbicacion(i)"
                *ngIf="ubicaciones.length > 1"
              >
                Eliminar Ubicacion
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <!-- Botón para agregar otra ubicación -->
      <div style="margin-top: 20px;">
        <button mat-raised-button color="accent" (click)="agregarUbicacion()">
          Agregar otra ubicación
        </button>
      </div>
    </form>
  </mat-step>

  <!-- Paso 4: Contactos -->
  <mat-step [stepControl]="contactos">
    <form [formGroup]="clienteForm">
      <div formArrayName="contactos">
        <div
          *ngFor="let contacto of contactos.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-card>
            <mat-card-header>
              <mat-card-title>Datos de Contacto {{ i + 1 }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <!-- Nombre de Contacto -->
              <mat-form-field appearance="outline">
                <mat-label>Nombre de Contacto</mat-label>
                <input matInput formControlName="nombreContacto" required />
                <mat-error
                  *ngIf="contacto.get('nombreContacto')?.hasError('required')"
                >
                  El nombre de contacto es obligatorio
                </mat-error>
              </mat-form-field>
              <!-- Tipo de Contacto -->
              <mat-form-field appearance="outline">
                <mat-label>Tipo de Contacto</mat-label>
                <mat-select formControlName="tipoContacto" required>
                  <mat-option *ngFor="let tipo of contactTypes" [value]="tipo.id">{{tipo.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="contacto.get('tipoContacto')?.hasError('required')"
                >
                  El tipo de contacto es obligatorio
                </mat-error>
              </mat-form-field>

              <!-- Campo de dato de Contacto -->
              <mat-form-field appearance="outline">
                <mat-label>Dato de Contacto</mat-label>
                <input matInput formControlName="datoDeContacto" required />
                <mat-error
                  *ngIf="contacto.get('datoDeContacto')?.hasError('required')"
                >
                  El dato del contacto es obligatorio
                </mat-error>
              </mat-form-field>

              <!-- Checkbox de Contacto Principal -->
              <mat-checkbox
                formControlName="contactoPrincipal"
                (change)="validarContactoPrincipal(i)"
              >
                Es el contacto principal
              </mat-checkbox>

              <!-- Estado del Contacto -->
              <mat-form-field appearance="outline">
                <mat-label>Estado del Contacto</mat-label>
                <mat-select formControlName="estadoContacto" required>
                  <mat-option value="Activo">Activo</mat-option>
                  <mat-option value="Inactivo">Inactivo</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="contacto.get('estadoContacto')?.hasError('required')"
                >
                  El estado del contacto es obligatorio
                </mat-error>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button matStepperPrevious color="primary">
                Atrás
              </button>
              <button
                mat-raised-button
                matStepperNext
                color="primary"
                [disabled]="contacto.invalid"
              >
                Siguiente
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <!-- Botón para agregar otra entrada de contacto -->
      <div style="margin-top: 20px;">
        <button mat-raised-button color="accent" (click)="agregarContacto()">
          Agregar otro contacto
        </button>
      </div>
    </form>
  </mat-step>
  <!-- Paso 6: Facturación -->
  <mat-step [stepControl]="facturacion">
    <form [formGroup]="clienteForm">
      <div formArrayName="facturacion">
        <div
          *ngFor="let factura of facturacion.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-card>
            <mat-card-header>
              <mat-card-title>Datos de Facturación {{ i + 1 }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <!-- RUC -->
              <mat-form-field appearance="outline">
                <mat-label>RUC</mat-label>
                <input matInput formControlName="ruc" required [disabled]="enableRegisterRuc" readonly="{{enableRegisterRuc}}"/>
                <mat-error *ngIf="factura.get('ruc')?.hasError('required')">
                  El RUC es obligatorio
                </mat-error>
              </mat-form-field>
              <mat-card-actions>
                <button
                  type="button"
                  mat-raised-button
                  (click)="verificarRuc()"
                  color="primary"
                  [disabled]="enableRegisterRuc"
                >
                  Verificar Ruc
                </button>
              </mat-card-actions>
              <!-- Razón Social -->
              <div *ngIf="enableRegisterRuc">
                
              
              <mat-form-field appearance="outline">
                <mat-label>Razón Social</mat-label>
                <input matInput formControlName="razonSocial" required />
                <mat-error
                  *ngIf="factura.get('razonSocial')?.hasError('required')"
                >
                  La razón social es obligatoria
                </mat-error>
              </mat-form-field>

              <!-- Es Facturación Principal -->
              <mat-checkbox formControlName="facturacionPrincipal">
                Es el dato de facturación principal
              </mat-checkbox>

              <!-- Estado Facturación -->
              <mat-form-field appearance="outline">
                <mat-label>Estado de Facturación</mat-label>
                <mat-select formControlName="estadoFacturacion" required>
                  <mat-option value="Activo">Activo</mat-option>
                  <mat-option value="Inactivo">Inactivo</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="factura.get('estadoFacturacion')?.hasError('required')"
                >
                  El estado es obligatorio
                </mat-error>
              </mat-form-field>
            </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button matStepperPrevious color="primary">
                Atrás
              </button>
              <button
                mat-raised-button
                (click)="saveProgress()"
                color="primary"
                [disabled]="factura.invalid"
              >
                Guardar
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<!-- Agrega el botón atrás -->
<button mat-raised-button color="warn" (click)="goBack()">Atrás</button>
