<section class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">                
            <h6 class="m-0 font-weight-bold text-primary">LISTA DE CUENTAS</h6>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered p-1" style="width: 100%;" >
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Staff</th>
                        <th>Activo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td>{{ account.email }}</td>

                        <td>
                            <input class="ms-2" type="checkbox" [(ngModel)]="account.is_staff" [checked]="account.is_staff">
                        </td>
                        <td>
                            <input class="ms-2" type="checkbox" [(ngModel)]="account.is_active" [checked]="account.is_active">
                        </td>
                        <td align="center">
                            <!-- 🔥 Ahora usamos métodos del componente en lugar de routerLink -->
                            <button class="icons-table" (click)="irAPermisos(account)">
                                <i class="bi bi-key"></i>
                            </button>
                            <button class="icons-table" (click)="irAEditar(account)">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button class="icons-table" (click)="eliminarDatos(account)">
                                <i class="bi bi-trash2"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
