
<div class="container" *ngIf="!mostrar">
    <div class="card shadow mb-4" > 
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                CONFIGURACIONES
            </h6>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" (click)="mostrarHijos('list-rol')" style="cursor: pointer;">
                    ROLES
                </li>
                <li class="list-group-item" (click)="mostrarHijos('list-permission')" style="cursor: pointer;">
                    PERMISOS
                </li>
                <li class="list-group-item" (click)="mostrarHijos('basic-info')" style="cursor: pointer;">
                    CONFIGURACION BASICA
                </li>
                <!--
                <li class="list-group-item" (click)="mostrarHijos('list-business')" style="cursor: pointer;">
                    NEGOCIO
                </li>
                -->
            </ul>
        </div>
    </div>
    
</div>
<div *ngIf="mostrar">
    <router-outlet></router-outlet>
</div>


