<div class="container" align="center">
    <div class="card text-center" style="width: 300px;">
        <div class="card-header h5 text-white bg-primary">Restablecer contrasenha</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Introduzca su correo y le enviaremos las intrucciones para cambiar la contrasenha
            </p>
            <div class="form-outline">
                <input type="email" id="typeEmail" class="form-control my-3" />
                <label class="form-label" for="typeEmail">Email</label>
            </div>
            <a href="#" class="btn btn-primary w-100">Restablecer contrasenha</a>
            <div class="d-flex justify-content-between mt-4">
                <a class="" href="#">Login</a>
                <a class="" href="#">Registrarse</a>
            </div>
        </div>
    </div>
</div>
