<div class="row">
  <div class="col-12">
    <label for="totalInvitados">¿Tienen un presupuesto total estimado?</label>
    <input
      type="text"
      class="form-control p-2 mb-2"
      id="totalInvitados"
      name="totalInvitados"
    />
    <label for="totalInvitados">
        ¿Quienes financian la boda?    
    </label>
    <input
      type="text"
      class="form-control p-2 mb-2"
      id="totalInvitados"
      name="totalInvitados"
    />
    <label for="totalInvitados">
        Ya cuentan con algun proveedor reservado?   
    </label>
    <input
      type="text"
      class="form-control p-2 mb-2"
      id="totalInvitados"
      name="totalInvitados"
    />
    <label for="totalInvitados">
        Estan abiertos a planes de pago? 
    </label>
    <input
      type="text"
      class="form-control p-2 mb-2"
      id="totalInvitados"
      name="totalInvitados"
    />
  </div>
</div>
