<section>
  <div class="row">
    <div class="col-11">
      <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col"></th>
            <th scope="col">Momento</th>
            <th scope="col">Comentario</th>
            <th scope="col">Prioridad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row mb-1">
              <button class="btn btn-sm">
                <i class="bi bi-pencil"></i>
              </button>
            </th>
            <td>Ceremonia</td>
            <td>Me gustaría que la ceremonia fuera en la playa.</td>
            <td>Alta</td>
            <td><i class="bi bi-check-circle-fill"></i></td>
          </tr>
          <tr>
            <th scope="row mb-1">
              <button class="btn btn-sm">
                <i class="bi bi-pencil"></i>
              </button>
            </th>
            <td>Recepción</td>
            <td>Quiero una decoración elegante y romántica.</td>
            <td>Baja</td>
            <td><i class="bi bi-x-circle-fill"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-1">
      <button class="btn btn-primary" (click)="openModal()">
        <i class="bi bi-plus-circle"></i>
      </button>
    </div>
  </div>
</section>
<app-events-ideas-modal [isModalOpen]="modalIsOpen" [ideas]="ideas"  (close)="modalIsOpen = false"></app-events-ideas-modal>
