<section>
  <div class="row mb-3">
    <div class="col-1 p-2">
      <label class="col-form-label">Categoria</label>
    </div>
    <div class="col-11 p-2">
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-11">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Momento</th>
            <th scope="col">Comentario</th>
            <th scope="col">Prioridad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row mb-1">
              <button class="btn btn-sm">
                <i class="bi bi-pencil"></i>
              </button>
            </th>
            <td>Ceremonia</td>
            <td>Me gustaría que la ceremonia fuera en la playa.</td>
            <td>Alta</td>
            <td><i class="bi bi-check-circle-fill"></i></td>
          </tr>
          <tr>
            <th scope="row mb-1">
              <button class="btn btn-sm">
                <i class="bi bi-pencil"></i>
              </button>
            </th>
            <td>Recepción</td>
            <td>Quiero una decoración elegante y romántica.</td>
            <td>Baja</td>
            <td><i class="bi bi-x-circle-fill"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-1">
      <div class="btn btn-primary">
        <i class="bi bi-plus-circle"></i>
      </div>
    </div>
  </div>
</section>
