<!-- 🔥 NO renderiza nada hasta que se verifique autenticación -->
<ng-container *ngIf="isAuthChecked">
  <ng-container *ngIf="userIsLoged; else publicRoutes">
    <div id="wrapper">
      <app-side-menu></app-side-menu>

      <div id="content-wrapper">
        <div id="content">
          <app-nav-bar></app-nav-bar>

          <div class="container-fluid">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- 🔹 Contenido para usuarios NO autenticados -->
  <ng-template #publicRoutes>
    <router-outlet></router-outlet>
  </ng-template>
</ng-container>

<!--  Spinner de carga -->
<div *ngIf="!isAuthChecked || isRouting" class="loading-screen">
  <div class="spinner"></div>
</div>

