<section name="Listadepersmisosporgrupo" class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">PERMISOS ASIGNADOS A "{{this.auth.name}}" </h3>
        </div>
        <div class="card-body" >
            <div style="height: 60vh; overflow: auto; display: block; position: relative;">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th class="pl-1">
                                <input  (click)="seleccionarTodo()" type="checkbox"  [(ngModel)]="allChecked" [checked]="allChecked" name="all_checkeed" placeholder="Seleccionar/Deseleccionar todo">
                            </th>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Contenido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let authGroupPermisionItem of authGroupPermision">
                            <td>
                                <input  type="checkbox" [(ngModel)]="authGroupPermisionItem.checqueado" [checked]="authGroupPermisionItem.checqueado" name="is_checkeed" placeholder="Este permiso es asignado">
                            </td>
                            <td>{{authGroupPermisionItem.id}}</td>
                            <td>{{authGroupPermisionItem.name}}</td>
                            <td>{{authGroupPermisionItem.content_type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" (click)="guardarLista()" class="btn btn-primary">
                GUARDAR
            </button>
        </div>
    </div>
</section>
