<div class="table-responsive">
    <table class="table mt-2">
        <thead class="thead-dark">
          <tr>
            <th>Según</th>
            <th>Segmento</th>
            <th>Estilo (multiselect)</th>
            <th>Descripcion</th>
            <th>Comentario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>El Nivel de Formalidad</td>
            <td>
              <select class="form-select">
                <option selected>Seleccionar...</option>
                <option value="1">Casual</option>
                <option value="2">Semi-formal</option>
                <option value="3">Formal</option>
              </select>
            </td>
            <td>
              <select class="form-select">
                  <option selected>Seleccionar...</option>
                  <option value="1">Casual</option>
                  <option value="2">Semi-formal</option>
                  <option value="3">Formal</option>
                </select>
            </td>
            <td>
              <p >
                  Ceremonia elegante con protocolos tradicionales. Predomina el blanco, negro y dorado, vestidos largos y etiqueta formal.
              </p>
            </td>
            <td>
              <input type="text"  class="form-control"/>
            </td>
          </tr>
        </tbody>
      </table>
</div>

