<h3>Ceremonias</h3>
<div class="row mb-3">
  <div class="col-11">
    <table class="table">
      <thead class="bg-primary">
        <tr>
          <th>Tipo de ceremonia</th>
          <th>Categoría de ceremonia</th>
          <th>Ubicación de ceremonia</th>
          <th>Celebrante</th>
          <th>Fecha y Hora de Inicio</th>
          <th>Fecha y Hora de Fin</th>
          <th>Detalles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select class="form-select">
              <option selected>Seleccionar...</option>
              <option value="1">Opción 1</option>
              <option value="2">Opción 2</option>
              <option value="3">Opción 3</option>
            </select>
          </td>
          <td>
            <select class="form-select">
              <option selected>Seleccionar...</option>
              <option value="1">Opción 1</option>
              <option value="2">Opción 2</option>
              <option value="3">Opción 3</option>
            </select>
          </td>
          <td>Iglesia</td>
          <td>Celebrante</td>
          <td>Fecha y Hora de Inicio</td>
          <td>Fecha y Hora de Fin</td>
          <td>Detalles</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-1">
    <button class="btn btn-sm btn-primary">
      <i class="bi bi-plus-circle"></i>
    </button>
  </div>
</div>

<h3>Recepción</h3>
<div class="row">
  <div class="col-11">
    <table class="table">
      <thead class="bg-primary">
        <tr>
          <th>Tipo de Recepcion</th>
          <th>Ubicación de la recepcion</th>
          <th>Duración Estimada</th>
          <th>Fecha y Hora de Inicio</th>
          <th>Fecha y Hora de Fin</th>
          <th>Detalles</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="col-1">
    <button class="btn btn-sm btn-primary">
      <i class="bi bi-plus-circle"></i>
    </button>
  </div>
</div>
