<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Reunión Inicial </a>
      <a class="nav-item nav-link" href="#">Planificacion</a>
      <a class="nav-item nav-link" href="#">Presupuesto</a>
      <a class="nav-item nav-link " href="#">Movimientos</a>
      <a class="nav-item nav-link " href="#">Lista de Invitados</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>