<div 
    class="modal fade" 
    [ngClass]="{ 'show d-block': isModalOpen }" 
    tabindex="-1"
    >
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
            <h2>
                <b>Disponbilidad Horaria</b>
            </h2>
            </div>
      </div>
      <div class="modal-body">
        <div class="card mb-2">
          <div class="card-header">
            <h4>Disponibilidad semanal</h4>
          </div>
          <div class="card-body">
            <div class="row  mb-2">
              <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Seleccionar</option>
                  <option value="1">Lunes</option>
                  <option value="2">Martes</option>
                  <option value="3">Miercoles</option>
                  <option value="4">Jueves</option>
                  <option value="5">Viernes</option>
                  <option value="6">Sabado</option>
                  <option value="7">Domingo</option>
                </select>
              </div>
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  id="startTimeInput"
                  placeholder="Hora de inicio"
                />
              </div>
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  id="startTimeInput"
                  placeholder="Hora de inicio"
                />
              </div>
              <div class="col-3">
                <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="flexCheckDefault"
                    />
                    <label for="">Todo el dia</label>
                  </div>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-sm p-2">
                <i class="bi bi-plus"></i> Agregar dia
              </button>
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-header">
            <h4>Disponibilidad por fecha especifica</h4>
          </div>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-3">
                <input
                  type="date"
                  class="form-control"
                  id="startTimeInput"
                  placeholder="Fecha"
                />
              </div>
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  id="startTimeInput"
                  placeholder="Hora de inicio"
                />
              </div>
              <div class="col-3">
                <input
                  type="time"
                  class="form-control"
                  id="startTimeInput"
                  placeholder="Hora de inicio"
                />
              </div>
              <div class="col-3">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="flexCheckDefault"
                  />
                  <label for="">Todo el dia</label>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <button class="btn btn-sm p-2">
                <i class="bi bi-plus"></i> Agregar fecha
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>Fechas no Disponibles</h4>
          </div>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-6">
                <input
                  type="date"
                  class="form-control"
                  id="startTimeInput"
                  placeholder="Fecha"
                />
              </div>
              <div class="col-6">
                <input
                  type="text"
                  class="form-control"
                  id="startTimeInput"
                  placeholder="Motivo"
                />
              </div>
            </div>
            <div class="row">
              <button class="btn btn-sm">
                <i class="bi bi-plus"></i> Agregar fecha
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal" (click)="closeModal()">
                Cerrar
            </button>
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
