<mat-horizontal-stepper [linear]="true" #stepper>
  <!-- Paso 1: Datos Básicos -->
  <mat-step [stepControl]="datosBasicosControl">/
    <form [formGroup]="datosBasicosControl">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Registrar Cliente</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado" required>
              <mat-option value="Prospecto">Prospecto</mat-option>
              <mat-option value="Cliente Activo">Cliente Activo</mat-option>
              <mat-option value="Cliente Inactivo">Cliente Inactivo</mat-option>
            </mat-select>
            <mat-error
              *ngIf="datosBasicosControl.get('estado')?.hasError('required')"
            >
              Selecciona un estado
            </mat-error>
          </mat-form-field>
          
          <!--tipo de cliente-->
          <mat-form-field appearance="outline">
            <mat-label>Tipo de Cliente</mat-label>
            <mat-select formControlName="tipoCliente" required>
              <mat-option value="F">Persona Fisica</mat-option>
              <mat-option value="J">Persona Jurídica</mat-option>
            </mat-select>
            <mat-error
              *ngIf="datosBasicosControl.get('tipoCliente')?.hasError('required')"
            >
              Selecciona un tipo de cliente
            </mat-error>
          </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Persona</mat-label>
              <input matInput formControlName="personaLabel" required required [disabled]="true" readonly="true"/>
              <mat-error
                *ngIf="datosBasicosControl.get('apellidos')?.hasError('required')"
              >
                El apellido es obligatorio
              </mat-error>
            </mat-form-field>          
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="abrirPeopleModal()">
            Buscar / Registrar Persona
          </button>
        </mat-card-actions>
        <mat-card-actions>
          <button
            mat-raised-button
            (click)="saveProgress()"
            color="primary"
            [disabled]="datosBasicosControl.invalid"
          >
            Guardar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-step>
</mat-horizontal-stepper>



<!-- MODAL -->
<!-- <app-people-modal (onPersonaSeleccionada)="asignarPersona($event)"></app-people-modal> -->
<!-- Agrega el botón atrás -->
<button mat-raised-button color="warn" (click)="goBack()">Atrás</button>
