<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    routerLink="/dashboard"
  >
    <div>
      <img src="/assets/static/images/logos/logo.png" width="42px" />
    </div>
    <div class="sidebar-brand-text mx-3">Hada Madrina</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      routerLink="/clients"
      data-toggle="collapse"
      data-target="#collapseTwo-1"
      aria-expanded="true"
      aria-controls="collapseTwo-1"
    >
      <i class="iconos"
        ><img src="assets/static/images/logos/iconos/clientes.svg"
      /></i>
      <span>Clientes</span>
    </a>
    <div
      id="collapseTwo-1"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="trasparente-blanco py-2 collapse-inner rounded">
        <a class="collapse-item" href="form.html">Agregar cliente</a>
        <a class="collapse-item" href="tables.html">Lista de clientes</a>
        <a class="collapse-item" href="calendar.html">Calendario</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      routerLink="/vendor"
      data-toggle="collapse"
      data-target="#collapseTwo-2"
      aria-expanded="true"
      aria-controls="collapseTwo-2"
    >
      <i class="iconos"
        ><img src="/assets/static/images/logos/iconos/proveedores.svg"
      /></i>
      <span>Proveedores</span>
    </a>
    <div
      id="collapseTwo-2"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="trasparente-blanco py-2 collapse-inner rounded">
        <a class="collapse-item" href="#">Agregar proveedor</a>
        <a class="collapse-item" href="#">Lista de proveedores</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      routerLink="/events"
      data-toggle="collapse"
      data-target="#collapseTwo-3"
      aria-expanded="true"
      aria-controls="collapseTwo-3"
    >
      <i class="iconos"
        ><img src="/assets/static/images/logos/iconos/eventos.svg"
      /></i>
      <span>Eventos</span>
    </a>
    <div
      id="collapseTwo-3"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="trasparente-blanco py-2 collapse-inner rounded">
        <a class="collapse-item" href="#">Agregar evento</a>
        <a class="collapse-item" href="#">Lista de eventos</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      routerLink="/charts"
      data-toggle="collapse"
      data-target="#collapseTwo-4"
      aria-expanded="true"
      aria-controls="collapseTwo-4"
    >
      <i class="iconos"
        ><img src="/assets/static/images/logos/iconos/informes.svg"
      /></i>
      <span>Informes</span>
    </a>
    <div
      id="collapseTwo-4"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="trasparente-blanco py-2 collapse-inner rounded">
        <a class="collapse-item" href="#">Clientes</a>
        <a class="collapse-item" href="#">Proveedores</a>
        <a class="collapse-item" href="#">Eventos</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      routerLink="/account"
      data-toggle="collapse"
      data-target="#collapseTwo-5"
      aria-expanded="true"
      aria-controls="collapseTwo-5"
    >
      <i class="iconos"
        ><img src="/assets/static/images/logos/iconos/usario.svg"
      /></i>
      <span>Usuarios</span>
    </a>
    <div
      id="collapseTwo-5"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="trasparente-blanco py-2 collapse-inner rounded">
        <a class="collapse-item" href="#">Agregar usuario</a>
        <a class="collapse-item" href="#">Lista de usuarios</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <li class="nav-item">
    <a class="nav-link" routerLink="/auth">
      <!--ESTA ES LA LINEA DE RUTEO-->
      <i class="iconos"
        ><img src="/assets/static/images/logos/iconos/configuracion.svg"
      /></i>
      <span>Auth</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <li class="nav-item">
    <!--a class="nav-link" routerLink="/auth"-->
    <a class="nav-link" routerLink="/settings">
      <i class="iconos"
        ><img src="/assets/static/images/logos/iconos/configuracion.svg"
      /></i>
      <span>Configuración</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <li class="nav-item">
    <!--a class="nav-link" routerLink="/auth"-->
    <a class="nav-link" routerLink="/payment">
      <i class="bi bi-cash-coin"></i>
      <span>Pagos</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <li class="nav-item">
    <!--a class="nav-link" routerLink="/auth"-->
    <a class="nav-link" routerLink="/payment">
      <i class="bi bi-receipt"></i>
      <span>Facturacion</span>
    </a>
  </li>
  <li class="nav-item">
    <!--a class="nav-link" routerLink="/auth"-->
    <a class="nav-link" routerLink="/agenda">
      <i class="bi bi-calendar-date"></i>
      <span>Agenda</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
