<div class="container" *ngIf="mostrarCompPrincipal">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block login-bg"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                  </div>
                  <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group">
                      <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Email">
                        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                          Email es requerido
                        </mat-error>
                        <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
                          Email no es válido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="password" placeholder="Contraseña">
                        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                          Contraseña es requerida
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" type="submit" class="btn-user btn-block">
                      Inicia sesión
                    </button>
                    <!-- Other buttons like Google or Facebook login if needed -->
                  </form>
                  <div class="text-center pt-2">
                    <a class="small" routerLink="/login/reset-pass">Olvidaste la contraseña?</a>
                  </div>
                  <div class="text-center pt-2">
                    <a class="small" routerLink="/login/create-account" routerLinkActive="active">Crear cuenta!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-alert [message]="returnObject.mensaje" [title]="returnObject.respuesta" [type]="alertType"></app-alert>
  </div>
  
  <router-outlet *ngIf="!mostrarCompPrincipal"></router-outlet>
  