<section id="header">
  <app-brief-header></app-brief-header>
</section>
<section id="stepper">
  <mat-stepper #stepper>
    <mat-step label="Datos del Evento">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <div class="d-flex">
                <div class="me-2"><i class="bi bi-people"></i></div>
                <div class="me-2">Invitados</div>
              </div>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
                <app-guest-form></app-guest-form>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <div class="d-flex">
                <div class="me-2">
                  <i class="bi bi-calendar2-heart"></i>
                </div>
                <div class="me-2">Fecha y Lugar Tentativo</div>
              </div>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
                <app-tentative-place-form></app-tentative-place-form>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <div class="d-flex">
                <div class="me-2">
                  <i class="bi bi-cash-coin"></i>
                </div>
                <div class="me-2">Presupuesto y Finanzas</div>
              </div>
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
             <app-finance-form></app-finance-form>

            </div>
          </div>
        </div>
        <div class="d-flex mt-2">
          <div class="me-2">
            <button class="btn btn-sm btn-outline-primary">Cancelar</button>
          </div>
          <div class="ms-auto">
            <button class="btn btn-sm btn-outline-primary mx-2">Guardar y Cerrar</button>
            <button class="btn btn-sm btn-outline-primary mx-2">Siguiente</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step></mat-step>
    <mat-step></mat-step>
    <mat-step></mat-step>
  </mat-stepper>
</section>

