<section class="container" *ngIf="mostrarTemplate1; else template2">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <div class="row">
                <div class="col-10">
                    <h3 class="card-text">{{titulo}}</h3>
                </div>
                <div class="col-2">
                    <Button type="button" class="btn btn-success"  (click)="agregarRol()"> 
                        <i class="bi bi-plus-circle"></i>
                    </Button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li  class="list-group-item" *ngFor="let auth of authGroup">
                   <div class="row">
                        <div class="col-10">{{auth.name}}</div>
                        <div class="col-2">
                            <Button type="button" class="btn btn-primary me-1" (click)="editarRol(auth)"> <i class="bi bi-pencil"></i></Button>
                            <Button type="button" class="btn btn-danger" (click)="eliminarDatos(auth)"> <i class="bi bi-trash2"></i></Button>
                        </div>
                   </div> 
                </li>
            </ul>
        </div>
    </div>
</section>
<ng-template #template2>
    <section>
        <div class="card">
            <div class="card-header bg-dark text-white">
                <div class="row">
                    <div class="col-10">
                        <h3 class="card-text">{{titulo}}</h3>        
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-danger" (click)="cerrarVentana()">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                      <label for="rolId">Nombre del Rol</label>
                      <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" id="rolId" aria-describedby="rolHelp" placeholder="Ingrese el nombre del rol">
                    </div>
                    <div class="d-flex justify-content-center">
                        
                        <button *ngIf="tipoBotonGuardar =='Nuevo'" type="button" class="btn btn-primary mt-3" (click)="enviarDatos()">GUARDAR</button>
                        <button *ngIf="tipoBotonGuardar=='Editar'" type="button" class="btn btn-primary mt-3" (click)="actualizarDatos()">GUARDAR</button>
                    </div>
                  </form>
            </div>
        </div>
    </section>   
</ng-template>

<section class="mt-3" *ngIf="mostrarAlerta">
    <div [ngClass]="tipoAlertaClase=='success'?['alert','alert-success']:['alert','alert-danger']" role="alert">
        <h4 class="alert-heading">{{tituloAlerta}}</h4>
        <p>{{contenidoAlerta}}</p>
        <hr>
      </div>
</section> 
