<mat-horizontal-stepper [linear]="true">
  <!-- Sección 1: Datos Básicos -->
  <mat-step label="Datos Básicos">
    <app-event-basic-details
      [formGroup]="basicDetailsGroup"
    ></app-event-basic-details>
    <button mat-raised-button matStepperNext>Siguiente</button>
  </mat-step>

  <!-- Sección 2: Ceremonias -->
  <mat-step label="Ceremonias">
    <app-event-ceremonies
      [formGroup]="ceremoniesDetailsGroup"
    ></app-event-ceremonies>
    <button mat-raised-button matStepperNext>Siguiente</button>
  </mat-step>

  <!-- Sección 3: Invitados -->
  <mat-step label="Invitados">
    <app-event-guests [formGroup]="guestsArray"></app-event-guests>
    <button mat-raised-button (click)="submitForm()">Finalizar</button>
  </mat-step>
</mat-horizontal-stepper>

<!-- Sección de Listado de Eventos -->
<app-event-list></app-event-list>
