mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  form {
    background-color: #fff; /* Fondo blanco */
    padding: 16px; /* Padding para espaciar los elementos */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .mat-stepper-horizontal {
    background-color: transparent;
    margin: 16px;
  }
  